<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Card with Animated Border</title>
    <link rel="stylesheet" type="text/css" href="static/css/welcome.css">
</head>
<body>
    <div id="container" class="header">
        <div class=""  >
            <a href="/logout">Logout</a>
        </div>
        <div>
            <h1>Welcome Nerds!</h1> 
            <h6>Placeholder for Avatar</h6>
        </div>
    </div>
    <div class="box">
        <a href="/games"><h2>Your Games</h2></a> 
    </div>
    <div class="box">
        <h2><a href="/games/create"><h2>Organize a game</h2></a> 
    </div>
    <div class="box">
         <a href="/games/all"><h2>Upcoming Games</h2></a>
    </div>

</body>
</html>