<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Card with Animated Border</title>
    <link rel="stylesheet" type="text/css" href="static/css/welcome.css">
</head>
<body>
    <div id="container" class="header">
        <div class="logout">Logout(link)</div>
        <div>
            <h1>Welcome Nerds!</h1> 
            <h6>Placeholder for Avatar</h6>
        </div>
    </div>
    <div class="box">
        <h2>Your Games</h2> 
    </div>
    <div class="box">
        <h2>Organize a game</h2> 
    </div>
    <div class="box">
        <h2>Upcoming Games</h2> 
    </div>

</body>
</html>